body,
html {
  height: 100%;
}
.viewone {
  min-width: 100%;
  background-color: green;
}
.head {
  /* The image used */
  /* Full height */
  /*max-width: 100%;*/
  min-height: 100vh;
  position: relative;
  background-image: url(../assets/Front.jpg);
  background-repeat: no-repeat;
  background-position: right top;
}
.logo {
  position: relative;
  margin: 0px;
  max-width: 13vw;
  min-width: 1vw;
  padding: 140px;
}
.header {
  position: relative;
  opacity: 80%;
  padding: 0px;
  margin: 0px;
}
